<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.itcast.servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo2</servlet-name>
    <servlet-class>com.itcast.servlet.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo2</servlet-name>
    <url-pattern>/servletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>visitCount</servlet-name>
    <servlet-class>com.itcast.servlet.VisitCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visitCount</servlet-name>
    <url-pattern>/visitCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>responseDemo</servlet-name>
    <servlet-class>com.itcast.servlet.ResponseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo</servlet-name>
    <url-pattern>/responseDemo</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>cookieServlet</servlet-name>
    <servlet-class>com.itcast.cookieSession.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet</servlet-name>
    <url-pattern>/cookieServlet</url-pattern>
  </servlet-mapping>
</web-app>